{% extends "nhs-layout.html" %}

{% block page %}

  <div class="grid-row">
        
    <div class="column-two-thirds">
              
      <div class="govuk-box-highlight">
        <h1 class="bold-large">
          <span class="font-medium">
            Your doctor’s note has been received<br>
          </span>
          It’s valid until {{ '' | fortnight }}
        </h1>
        <p></p>
      </div>

      <h2 class="heading-medium">
        What happens next
      </h2>

      <p>
        You’ll need to provide another doctor’s note by {{ '' | fortnightplus }} if you’re not able to work.
      </p>
        
    </div><!-- row -->

  </div>


{% endblock %}
