{% extends path+"/../layout.html" %}

{% block head %}
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/photo.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block fullcol %}
<a href="/send-your-fit-note-beta-4/choosemethod" class="link-back">Back</a>

<div class="grid-row">
  <div class="column-full">

    {% if data['upload-attempt'] == 1 or data['upload-attempt'] == 2 or data['upload-attempt'] == 3 %}
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">


      {% if data['method-group'] == 'photo' %}
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        There&rsquo;s a problem with your photo.
      </h1>
      <p>Try taking another photo.</p>
      {% else %}
      <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
        There&rsquo;s a problem with the photo or scan of your fit note.
      </h1>
      <p>Try uploading another photo or scan.</p>
      {% endif %}

      {% if data['upload-attempt'] == 3 %}
      <p>You can either:</p>
      <ul class="list list-bullet">
        <li>try again with this device</li>
        <li>try again with a different device &ndash; you can ask a family member or friend to use their device to send your fit note on your behalf</li>
        <li>post your fit note to <span class="bold">Freepost DWP ESA 38</span> &ndash; you don&rsquo;t need a stamp
</li>
      </ul>
      {% endif %}

      <ul class="error-summary-list">
        <li><a href="#error-link">Try again</a></li>
      </ul>

      {% if data['upload-attempt'] == 2 %}
      <h2 class="heading-small">
        Need more help?
      </h2>
      <p><a href="/send-your-fit-note-beta-4/upload/guide/step1?upload-attempt=3&v2=false">Read the full guide for taking a photo</a></p>
      {% endif %}

    </div>
    {% endif %}

    <div class="photo-guide form-group">

      <h1 class="bold-large">
      {% if data['method-group'] == 'photo' %}
        Take a photo of you fit note
      {% else %}
        Save and upload your fit note
      {% endif %}
      </h1>

      <div class="grid-row">
        <div class="column-half">
          <ol class="list list-number">
            {% if data['method-group'] == 'photo' %}
            <li>Put your fit note on a flat surface like a table.</li>
            <li>Make sure you&rsquo;re in a well lit place.</li>
            <li>Hold your phone above the paper, and make sure it&rsquo;s sideways or &lsquo;landscape&rsquo;.</li>
            {% else %}
            <li>Take a photo of your fit note or scan it to your computer.</li>
            <li>Make sure:
              <ul class="list list-bullet">
                <li>you're in a well lit place</li>
                <li>all of your fit note is in the image</li>
              </ul>
            </li>
            <li>Save the photo or scan somewhere you can easily find it on your computer.</li>
            {% endif %}
          </ol>
          {% if data['method-group'] == 'photo' %}
          <p>Your photo will be automatically checked to make sure it's good enough.</p>
          {% else %}
          <p>Your photo or scan will be automatically checked to make sure it's good enough.</p>
          {% endif %}
          <p><a href="/send-your-fit-note-beta-4/upload/guide/step1?upload-attempt=3&v2=false">Read the full guide for taking a photo</a>.</p>

        </div>

        <div class="column-half">
          <img src="/public/images/guideline-photo.png" alt="" width="100%">
        </div>
      </div>
    </div>
  </div>

  <div class="column-full">

    {% if not data['upload-attempt'] or data['upload-attempt'] == 0 %}

      {% if data['syfn-errors'] == "true" %}
      <form action="/send-your-fit-note-beta-4/upload/" method="get" class="form">

        <input type="hidden" name="upload-attempt" value="1">
      {% else %}
      <form action="/send-your-fit-note-beta-4/upload/loading" method="get" class="form">
      {% endif %}

        <div class="form-group">
          <input id="uploadFile" class="form-control uploaded" style="display:none">
          <div class="fileUpload button" id="opencam">
            <label>
              {% if data['method-group'] == 'photo' %}
                Open camera
              {% else %}
                Choose a file to upload
              {% endif %}</label>
            <input id="uploadBtn" class="upload" name="uploadBtnText" type="file" {% if data[ 'method-group']=='photo' %}accept="image/*;capture=camera" {% endif %}>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Upload" id="startButton" style="display:none">
        </div>

      </form>

    {% elif data['upload-attempt'] == 1 %}

      <form action="/send-your-fit-note-beta-4/upload/" method="get" class="form">

        <div class="form-group-error" id="error-link">
          <input id="uploadFile" class="form-control uploaded" style="display:none">
          <span class="error-message">
          {% if data['method-group'] == 'photo' %}
            Try taking another photo.
          {% else %}
            Try uploading another photo or scan.
          {% endif %}
        </span>
          <div class="fileUpload button" id="opencam">
            <label>{% if data['method-group'] == 'photo' %}
              Open camera
            {% else %}
              Choose a file to upload
            {% endif %}</label>
            <input id="uploadBtn" class="upload" name="uploadBtnText" type="file">
          </div>
        </div>

        <input type="hidden" name="upload-attempt" value="2">

        <div class="form-group">
          <input type="submit" class="button" value="Upload" id="startButton" style="display:none">
        </div>

      </form>

    {% elif data['upload-attempt'] == 2 %}

      <form action="/send-your-fit-note-beta-4/upload/" method="get" class="form">

        <div class="form-group-error" id="error-link">
          <input id="uploadFile" class="form-control uploaded" style="display:none">
          <span class="error-message">
          {% if data['method-group'] == 'photo' %}
            Try taking another photo.
          {% else %}
            Try uploading another photo or scan.
          {% endif %}
        </span>
          <div class="fileUpload button" id="opencam">
            <label>{% if data['method-group'] == 'photo' %}
              Open camera
            {% else %}
              Choose a file to upload
            {% endif %}</label>
            <input id="uploadBtn" class="upload" name="uploadBtnText" type="file">
          </div>
        </div>

        <input type="hidden" name="upload-attempt" value="3">

        <div class="form-group">
          <input type="submit" class="button" value="Upload" id="startButton" style="display:none">
        </div>

      </form>

    {% elif data['upload-attempt'] == 3 %}

      <form action="/send-your-fit-note-beta-4/upload/loading" method="get" class="form">

        <div class="form-group-error" id="error-link">
          <input id="uploadFile" class="form-control uploaded" style="display:none">
          <span class="error-message">
          {% if data['method-group'] == 'photo' %}
            Try taking another photo.
          {% else %}
            Try uploading another photo or scan.
          {% endif %}
        </span>
          <div class="fileUpload button" id="opencam">
            <label>{% if data['method-group'] == 'photo' %}
              Open camera
            {% else %}
              Choose a file to upload
            {% endif %}</label>
            <input id="uploadBtn" class="upload" name="uploadBtnText" type="file">
          </div>
        </div>

        <input type="hidden" name="upload-attempt" value="0">

        <div class="form-group">
          <input type="submit" class="button" value="Upload" id="startButton" style="display:none">
        </div>

      </form>

    {% else %} Error {% endif %}

  </div>
</div>


<script type="text/javascript">
  document.getElementById("uploadBtn").onchange = function(e, i) {
    // document.getElementById("uploadFile").value = document.getElementById("uploadBtn").files[0].name;
    // document.getElementById("uploadFile").style.display = "block"
    // document.getElementById("opencam").style.display = "none"
    document.getElementById("startButton").click()
  }
</script>

{% endblock %}

{% block footer_top %}
<p>
  Possible error pages:
  <form action="/send-your-fit-note-beta-4/upload/" method="get" class="form">
    <input type="hidden" name="upload-attempt" value="1">
    <input type="submit" class="button-link" value="Error 1: try again" id="startButton">
  </form>
  <form action="/send-your-fit-note-beta-4/upload/" method="get" class="form">
    <input type="hidden" name="upload-attempt" value="2">
    <input type="submit" class="button-link" value="Error 2: try again and read guidance" id="startButton">
  </form>
  <form action="/send-your-fit-note-beta-4/upload/" method="get" class="form">
    <input type="hidden" name="upload-attempt" value="3">
    <input type="submit" class="button-link" value="Error 3: post instead" id="startButton">
  </form>
</p>
{% endblock %}
