{% extends path+"/../../layout.html" %}

{% block fullcol %}

<a href="../index" class="link-back">Upload your photo</a>
<span class="marker">Guide part 2 of 5</span>

<div class="photo-guide form-group">

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large mt0">
        Find a well lit place and avoid shadows
      </h1>
      <p>Make sure:</p>
      <ul class="list list-bullet">
        <li>your fit note is well lit</li>
        <li>the device screen is bright enough to see the image of your fit note clearly</li>
        <li>nothing is between your fit note and the light that casts a strong shadow</li>
      </ul>


      <img src="/public/images/step4.png" alt="">
    </div>
  </div>

  <nav class="guide-nav">
    <ul>
      <li class="button-guide button-guide-previous">
        <a href="step1">Back</a>
      </li>
      <li class="button-guide button-guide-next">
        <a href="step3">Next</a>
      </li>
    </ul>
  </nav>

</div>

{% endblock %}


{% block footer_top %}
<p>Possible error pages: <a href="error_1">Error 1: try again</a> | <a href="error_2">Error 2: try again or post</a> | <a href="error_3">Error 3: try again, use different device or post</a>
{% endblock %}
