{% extends "layout.html" %}
{% block page_title %}
  ESA consent log out
{% endblock %}

{% block page %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">You have successfully logged out</h1>

      

        <p>You can log back in using your GOV UK verify account</p>

        <div class="form-group">
          <input type="submit" class="button" href="/consent-v1/consent-log-in" value="Continue">
        </div>
        

      </form>

    </div><!-- .column- -->
  </div>

{% endblock %}