{% extends "consent-layout.html" %}
{% block page_title %}
  Consent summary
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">What you've consented to</h1>

      <div class="form-group">
        <table>
          <thead>
            <tr>
              <th scope="col">Consent to</th>
              <th scope="col">Details</th>
              <th scope="col">Status</th>
              <th scope="col">Change</th>
              <th scope="col">History</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>sick note</td>
            
              <td class="change-answer">
                <a href="/consent-v1/sicknote-detail">
                  View <span class="visuallyhidden">Exporter name</span>
                </a>
              </td>
              <td>consent given</td>
              <td>
                <a href="/consent-v1/sicknote-update">
                  Update <span class="visuallyhidden">Exporter name</span>
                </a>
              </td>
              <td>
                <a href="/consent-v1/sicknote-history">
                  View <span class="visuallyhidden">Exporter name</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Hospital services</td>
              
              <td class="change-answer">
                <a href="/consent-v1/hospital-services-detail">
                  View <span class="visuallyhidden">NHS - services</span>
                </a>
              </td>
              <td>consent expired</td>
              <td class="change-answer">
                <a href="/consent-v1/hospital-services-update">
                  Update <span class="visuallyhidden">NHS - services</span>
                </a>
              </td>
              <td>
                <a href="/consent-v1/hospital-services-history">
                  View <span class="visuallyhidden">Exporter name</span>
                </a>
              </td>
            </tr>
            <tr>
             <td>Prescriptions</td>
             
              <td class="change-answer">
                <a href="/consent-v1/prescription-details">
                  View <span class="visuallyhidden">NHS - services</span>
                </a>
              </td>
              <td>consent given</td>
              <td class="change-answer">
                <a href="/consent-v1/prescription-update">
                  Update <span class="visuallyhidden">NHS - services</span>
                </a>
              </td>
              <td>
                <a href="/consent-v1/prescription-history">
                  View <span class="visuallyhidden">Exporter name</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
       
      </form>

      <a class="button" href="/consent-v1/consent-log-out">Log Out</a>

    </div><!-- .column- -->
  </div>

  </main> 

{% endblock %}