{% extends "consent-layout.html" %}
{% block page_title %}
  Consent log out
{% endblock %}

{% block page %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">You have successfully logged out</h1>

      

        <p>You can log back in using your GOV UK verify account</p>

        
            <div class="form-group">
              <a class="button " href="/consent-v1/verify" role="button">Log back in</a>
            </div>
        

      </form>

    </div><!-- .column- -->
  </div>

{% endblock %}