{% extends "layout.html" %}
{% block page_title %}
  Sicknote details
{% endblock %}

{% block page %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Details of your Hospital services consent</h1>

    </div>
    
    <div class="column-full">  

      <div class="form-group">


        
     <!--   <h2 class="heading-medium">Consent item:</h2>

        <p>Hospital Services</p>

        <h2 class="heading-medium">Details of the consent information:</h2>

        <ul class="bullet list-bullet">
          <li>dates you have been admitted and discharged from Hospital</li>
       </ul>   

        

        <h2 class="heading-medium">From:</h2> 
        <p>NHS</p>

        <h2 class="heading-medium">To:</h2>
        <p>DWP</p>

        <h2 class="heading-medium">Date of consent</h2>
        <p>01.08.2016</p>

        <h2 class="heading-medium">Consent expires</h2>
        <p>31.07.2017</p> -->



      <table>
          <thead>
            <tr>
              <th scope="col">Consent item</th>
              <th scope="col">Consent information</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Date of consent</th>
              <th scope="col">Consent expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hospital services</td>
              <td>dates you have been admitted and <br>discharged from Hospital</td>
              <td>NHS</td>
              <td>DWP</td>
              <td>01.08.2016</td>
              <td>31.07.2017</td>
            </tr>
          </tbody>
        </table> 
        </div>
        <div class="form-group">
          <a class="button" href="/consent-v1/consent-summary" role="button">Back to summary</a>
        </div>
        

      </form>

    </div><!-- .column- -->
  </div>

{% endblock %}