{% extends "layout.html" %}
{% block page_title %}
  Hospital Services history
{% endblock %}

{% block page %}

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Your consent history</h1>

      <h2 class="heading-medium">Hospital services</h2>

      <div class="form-group">
        <table>
          <thead>
            <tr>
              <th scope="col">Date of update</th>
              <th scope="col">Detail of update</th>
              <th scope="col">Update expires</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01.03.2017</td>
              <td>agree consent</td>
              <td>28.02.2018</td>
            </tr>
            <tr>
              <td>01.06.2015</td>
              <td>agree consent</td>
              <td>31.05.2016</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="form-group">
          <a class="button" href="/consent-v1/consent-summary" role="button">Back to summary</a>
        </div>
        

      </form>

    </div><!-- .column- -->
  </div>

{% endblock %}