{% extends "layout.html" %}
{% block page_title %}
  ESA consent
{% endblock %}

{% block page %}

  <div class="secondary-bar">
     <ul class="external-links">
       <li class="main-nav-link"><a href="/consent-v1/consent-log-out">Log Out</a></li>
   
     </ul>
   </div>

  <div class="grid-row">

  <h1 class="heading-large">Hospital services - admissions</h1>
        
      <div class="column-full">   


          <div class="form-group">
                <fieldset>
                  <legend class="form-label-bold">Date of your admission</legend>
                  
                  <div class="form-date">
                    
                    <div class="form-group form-group-day">
                      <label for="dob-day">Day</label>
                      <input type="text" class="form-control" id="dob-day" maxlength="2" name="dob-day">
                    </div>
                    <div class="form-group form-group-month">
                      <label for="dob-month">Month</label>
                      <input type="text" class="form-control" id="dob-month" maxlength="2" name="dob-month">
                    </div>
                    <div class="form-group form-group-year">
                      <label for="dob-year">Year</label>
                      <input type="text" class="form-control" id="dob-year" maxlength="4" name="dob-year">
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="form-group">
                  <label class="form-label-bold" for="reasons" id="">
                    Details of your condition
                  </label>
                 
                  <textarea class="form-control" id="reasons" name="reasons"></textarea>
              </div>

              <form>
                <div class="form-group">
                  <fieldset class="inline">

                    <label class="block-label selection-button-radio" for="radio-inline-1">
                      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Agree">
                      Agree consent for NHS to share my admission details with DWP
                    </label>
                    <label class="block-label selection-button-radio" for="radio-inline-2">
                      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Remove">
                      Remove consent for NHS to share my admission details with DWP
                    </label>

                  </fieldset>
                </div>
              </form>

            <div class="form-group">
              <a class="button " href="/consent-v1/consent-summary" role="button">Save and continue</a>
            </div>
        
    
      </div><!-- .column- -->


  </div>

{% endblock %}