{% extends "consent-layout.html" %}
{% block page_title %}
  Sick note update
{% endblock %}

{% block page %}

  <div class="secondary-bar">
   <ul class="external-links">
     <li class="main-nav-link"><a href="/consent-v1/consent-log-out">Log Out</a></li>
 
   </ul>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

    <a href="consent-summary" class="link-back">Back</a>

      <h1 class="heading-large">Do you want to remove your sick note consent?</h1>

      
    </div>

    <div class="column-full">  

      <div class="form-group">    
        <table>
        <thead>
          <tr>
            <th scope="col">Consent item</th>
            <th scope="col">Consent information</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Date of consent</th>
            <th scope="col">Consent expires</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>sick note</td>
            <td class="list list-bullet">
              <li>start and end date of your sick note</li>
              <li>your condition</li>
              <li>GP surgery supplying the sick note</li>
             </td>
            <td>NHS</td>
            <td>DWP</td>
            <td>01.07.2016</td>
            <td>30.06.2017</td>
          </tr>
        </tbody>
      </table>
     </div>

     </div> <!-- column -->

     <div class="column-two-thirds">
       <div class="panel panel-border-wide alert-default">
          If you remove your consent for sick note you will have to send it through the post or deliver it by hand to a Jobcentre Plus (JCP).
       </div>

        <div class="form-group>">        
          <a class="button" href="/consent-v1/thankyou">Remove consent for sick note</a>
        </div>
    </div> <!-- column-two-thrids -->
        
     </div><!-- grid-row -->
  
    



{% endblock %}