{% extends path+"/layout.html" %}

{% block page %}

  <div class="grid-row">

    <div class="column-two-thirds">
      
      <div class="govuk-box-highlight" style="padding:30px 30px">
        <h1 class="bold-large"> DWP will get your next doctor’s note automatically </h1>
      </div>

      <h2 class="heading-medium">What happens next</h2>

      <p>You’ll need to get another doctor’s note from your GP before {{ '' | fortnightplus }} if you’re still not well.</p>

      {# <div class="panel panel-border-wide alert-default">If you want to stop us doing this at some point in the future you can come back here and and turn this all off by clicking things.</div> #}
      
    </div><!-- row -->

  </div>


{% endblock %}
