{% extends path+"/layout.html" %}

{% block page %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large" style="margin-bottom:20px">Send your doctor&rsquo;s note</h1>

      <form action="thanks" method="POST">

        <div class="text" style="margin-bottom:1em;">
            If you agree, the Department for Work and Pensions will get your doctor&rsquo;s note directly from the NHS.
        </div>

        <div class="form-group" style="margin-top:1em">
            <input type="submit" class="button" name="bob" value="I agree, send my doctor’s note">
        </div>

      </form>

    </div><!-- .column- -->
  </div>

{% endblock %}
