{% extends "layout.html" %}

{% block page %}

  <div class="grid-row">
        
    <div class="column-two-thirds">
              
      <div class="govuk-box-highlight" style="padding:20px 30px 10px">
        <h1 class="bold-large">
          <p class="font-medium">
            Your doctor’s note has been received<br>
          </p>
          It’s valid until<br />{{ '' | fortnight }}
        </h1>
        <p></p>
      </div>

      <h2 class="heading-medium">If you’re still unwell, DWP can get your doctor’s notes from the NHS without you having to do anything.</h2>
      <p>You can consent to DWP getting just the next doctor’s note, or any doctor’s notes needed throughout your Employment and Support Allowance (ESA) claim.</p>
      
      <form class="form" action="after" method="post">
      
        <div class="form-group" style="margin-bottom:1em">
          <div class="form-group form-group-compound">
            <label class="block-label selection-button-radio" for="ongoing_consent_yes_one">
              <input id="ongoing_consent_yes_one" type="radio" name="ongoing_consent" value="redirect(after_yes)">
              Yes - Get my next doctor’s note
            </label>
            <label class="block-label selection-button-radio" for="ongoing_consent_yes_all">
              <input id="ongoing_consent_yes_all" type="radio" name="ongoing_consent" value="redirect(after_yes)">
              Yes - Get all my doctor’s note white I’m claiming ESA
            </label>
            <label class="block-label selection-button-radio" for="ongoing_consent_no">
              <input id="ongoing_consent_no" type="radio" name="ongoing_consent" value="redirect(after_no)">
              No - Don’t get my doctor’s note without me telling you to
            </label>
          </div>
        </div>
        
        <div class="form-group" style="margin-top:20px">
          <input type="submit" class="button" value="Continue">
        </div>
      
      </form>

    </div><!-- row -->

  </div>


{% endblock %}
