{% extends data.path + "/inc/layout.html" %} {% block page_title %} Claim date {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <form action="expected-return-date" method="post" class="form">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="sick-note">Back</a>
        <header>
          <h1 class="form-title heading-large">
			  	That's the end, thanks.
				  </h1>
        </header>
      </div>
      <div class="column-one-third">
        {% include data.path + "/inc/help.html" %}
      </div>
    </div>
  </form>
</main>
{% endblock %}
