{% extends data.path + "/inc/layout.html" %}

{% block page_title %} Sick note {% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <form action="continuecheck" method="post" class="form">

    <div class="grid-row">

      <div class="column-two-thirds">

        <a class="link-back" href="health-conditions">Back</a>

        <header>
          <h1 class="form-title heading-large">Have you been to see a doctor?</h1>
        </header>

        <div class="form-group">
          <fieldset class="inline form-group">
            <label class="block-label" data-target="seendoc" for="seenddoc-yes">
              <input id="seenddoc-yes" type="radio" name="seendoc" value="Yes" > Yes
            </label>
            <label class="block-label" data-target="not-seendoc" for="seenddoc-no">
              <input id="seenddoc-no" type="radio" name="seendoc" value="No,redirect(claim-date)"> No
            </label>
          </fieldset>

          <!-- - - - - - - - - THEY'VE SEEN THE DOCTOR - - - - - - - - -->
          <div class="panel js-hidden mt30" id="seendoc">

            <div class="form-group">

              <h1 class="form-title heading-medium">Did they say that you shouldn’t work?</h1>
              <fieldset class="inline">
                <label class="block-label" data-target="shouldntwork" for="shouldntwork-yes">
                  <input id="shouldntwork-yes" type="radio" name="shouldntwork" value="Yes" > Yes
                </label>
                <label class="block-label" data-target="not-shouldntwork" for="shouldntwork-no">
                  <input id="shouldntwork-no" type="radio" name="shouldntwork" value="No,redirect(claim-date)"> No
                </label>
              </fieldset>

              <!-- - - - - - - - -  THEY SHOULD'T WORK - - - - - - - - -->
              <div class="panel js-hidden mt30" id="shouldntwork">

                  <div class="form-group">

                    <p class="mb5"> Your doctor recommends how long you shouldn’t work for. This is sometimes called being “signed off”. If you’re still unwell after this time you need to go back and see them again.</p>
                    <h1 class="form-title heading-medium mt30">Is it ok to confirm this with your doctor?</h1>
                    <fieldset class="inline">
                      <label class="block-label" data-target="confirmdoc" for="confirmdoc-yes">
                        <input id="confirmdoc-yes" type="radio" name="confirmdoc" value="Yes"> Yes
                      </label>
                      <label class="block-label" data-target="not-confirmdoc" for="confirmdoc-no">
                        <input id="confirmdoc-no" type="radio" name="confirmdoc" value="No,redirect(claim-date)"> No
                      </label>
                    </fieldset>

                    <!-- - - - - - - - -  NO WE CAN'T CONFIRM WITH DOCTOR - - - - - - - - -->
                    <div class="panel js-hidden mt30" id="not-confirmdoc">
                      <p> If you don’t want us to confirm with your doctor that you’re still unwell you’ll need to send a copy of your sick note in the post. </p>
                      <p>Post your sick note to:</p>
                      <p>
                        Mail Handling Site A<br />
                        Wolverhampton<br />
                        WV98 2AJ
                      </p>
                    </div>

                  </div><!-- form-group -->

              </div><!-- panel -->

              <!-- - - - - - - - -  THEY SHOULD WORK - - - - - - - - -->
              <div class="panel js-hidden mt30" id="not-shouldntwork">
                To get Employment and Support Allowance your doctor needs to confirm that you shouldn’t be working. If you think you’re too unwell to work, go back and see a doctor.
              </div>

            </div><!-- form-group -->

          </div><!-- panel -->

          <!-- - - - - - - - -  THEY HAVEN'T SEEN THE DOCTOR - - - - - - - - -->
          <div class="panel js-hidden" id="not-seendoc">
            To make an application, you’ll need to see a doctor. The doctor needs to confirm that you shouldn’t be working.
          </div>

        </div><!-- form-group -->

        <!-- Primary buttons, secondary links -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </div>
      <div class="column-one-third">
        {% include data.path + "/inc/help.html" %}
      </div>

    </div><!-- grid row -->

  </form>
</main>
{% endblock %}
