{% extends path+"/../../layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/photo.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block fullcol %}

<a href="/send-your-fit-note-beta-5/upload/?method-group=photo&upload-attempt=0" class="link-back">Upload your photo</a>
<span class="marker">Guide part 1 of 7</span>

<div class="photo-guide form-group">

    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-large mt0">Make sure you&rsquo;re in a well lit place</h1>
        <p>It&rsquo;s best to use natural daylight, for example in front of  a window.</p>
        <p>If there isn&rsquo;t enough daylight, use a ceiling light or lamp.</p>

        <div class="grid-row">
          <div class="column-half" style="padding: 0 1em 3em 0">
            <img src="/public/images/step1-1.png" alt="" width="auto">
          </div>
          <div class="column-half" style="padding: 0 1em 3em 0">
            <img src="/public/images/step1-2.png" alt="" width="auto">
          </div>
        </div>
        <div class="grid-row">
          <div class="column-half" style="padding: 0 1em 0 0">
            <img src="/public/images/step1-3.png" alt="" width="auto">
          </div>
          <div class="column-half" style="padding: 0 1em 0 0">
            <img src="/public/images/step1-4.png" alt="" width="auto">
          </div>
        </div>

      </div>
    </div>

    <nav class="guide-nav">
      <ul>
        <!-- <li class="#0">
          <a href="/photo/photo-guide">Back</a>
        </li> -->
        <li class="button-guide button-guide-next">
          <a href="step2">Next</a>
        </li>
      </ul>
    </nav>

  </div>


  <script type="text/javascript">
    document.getElementById("uploadBtn").onchange = function (e,i)
    {
      document.getElementById("uploadFile").value = document.getElementById("uploadBtn").files[0].name;
      document.getElementById("uploadFile").style.display = "block"
      document.getElementById("opencam").style.display = "none"
      document.getElementById("startButton").style.display = "block"
    }
  </script>

{% endblock %}


{% block footer_top %}
<p>Possible error pages: <a href="error_1">Error 1: try again</a> | <a href="error_2">Error 2: try again or post</a> | <a href="error_3">Error 3: try again, use different device or post</a>
{% endblock %}
