{% extends "govuk_template.html" %}

{% set serviceName = "Send your fit note" %}

{% block page_title %}
  Send something to DWP
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/sendyousicknote.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  <div id="timeout" class="hidden">
    <div id="timeout-bg"></div>
    <div id="timeout-panel">
      <h2 class="heading-medium" style="margin-top:0">This page is about to close.</h2>
      <div class="form-group-compound">
        <p>For securtiy reasons, the page you're on will close in <span id="timeout-expires">5</span> due to inactivity and you'll have to start again.</p>
      </div>
      <div class="form-group">
        <button id="timeout-close" class="button">Stay on this page</button>
      </div>
      <a id="timeout-start-again" href="/send-your-fit-note-beta-4/">Start again</a>
    </div>
  </div>
  {% include "includes/scripts.html" %}
  {% block page_script %}
  <script src="/public/javascripts/timeout.js"></script>
  {% endblock %}
  {{ data | log }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_proto.html" %}
  {% block fullcol %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% block leftcol %}{% endblock %}
    </div><!-- column -->
    <div class="column-third"></div><!-- column -->
  </div><!-- row -->
  {% endblock %}
</main>
{% endblock %}
