{% extends path+"/../layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/photo.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block fullcol %}
<main id="content" role="main">
  <div class="grid-row">
      <div class="column-full">

        <div class="error-summary" style="margin-bottom:30px" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

          <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              This hasn't worked.
            </h1>
        </div>

        <div>

            <p>You can either:

            <ul class="list list-bullet">
              <li>try uploading a different photo or scan</li>
              <li>ask a family member or friend to use their device to send your it on your behalf</li>
              <li>post your fit note to <strong>Freepost DWP ESA 38</strong> - you don't need a stamp</li>
            </ul>

            <ul class="error-summary-list">
              <li><a href="#save-and-upload">Try again</a></li>
            </ul>

        </div>

        </div><!-- col -->
    </div><!-- roq -->

    
</main>


{% endblock %}
</main>

{% block footer_top %}
<p>Possible error pages: <a href="index">Save and upload your fit note</a> | <a href="error_1">Error 1: try again</a> | <a href="error_2">Error 2: try again or post</a> | <a href="error_3">Error 3: try again, use different device or post</a> 
{% endblock %}
