{% extends path+"/../layout.html" %}

{% block fullcol %}
<div class="blue-border-bottom"></div>

<main id="content" role="main">
{# {% include "../includes/error-summary.html" %} #}

<div class="grid-row">
    <div class="column-full">

      <div class="error-summary" style="margin-bottom:30px" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          This hasn't worked.
        </h1>

        <p>You can either:</p>

        <ul class="list list-bullet">
            <li>try again using a different phone or tablet</li>
            <li>ask a family member or friend to use their device to send your fit note on your behalf</li>
            <li>post your fit note to Freepost DWP ESA 38</p>

      </div>

    </div>
      <div>
          <a class=button href="/send-your-fit-note-beta-2/gov-apply" role="button">Leave</a>
      </div>
</div>

</main>

{% endblock %}

{% block footer_top %}
<p>Error page navigation: <a href="index">Take a photo</a> | <a href="error_1">Error 1: try again</a> | <a href="error_2">Error 2: try again or freepost</a></p>
{% endblock %}
