{% extends path+"/../layout.html" %}

{% block fullcol %}
<div class="blue-border-bottom"></div>

<main id="content" role="main">
{# {% include "../includes/error-summary.html" %} #}

<div class="grid-row">
    <div class="column-two-thirds">
        <form action="sent" method="post" class="form" name="yourDetails" id="yourDetailsForm">

          <h2 class="heading-large">Do you want text messages to tell you your fit note has been received and when you'll be paid?</h2>

          <div class="inline form-group">

            <label class="block-label" data-target="mobile_no" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="text-reminder" value="Yes"> Yes
            </label>
            <label class="block-label" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="text-reminder" value="No"> No
            </label>
          </div>

          <div class="panel form-group js-hidden" id="mobile_no" style="padding-top:5px">
              <label for="mobileNumberID" class="form-label">Your mobile number</label>
              <input type="text"  inputmode="numeric" pattern="[0-9]*" name="mobileNumberField" class="form-control" value="{{mobValue}}"  maxlength="15">
          </div>

            <div class="form-group">
                <input type="submit" id="add-your-details" class="button primary-button" value="Submit">
            </div>
        </form>
    </div>
</div>

</main>

{% endblock %}
