{% extends path+"/../layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/photo.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block fullcol %}

  <main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">

          <div class="error-summary" style="margin-bottom:30px" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
              We’re having problems with the file you're trying to send.
            </h1>

            <p>You can either:

            <ul class="list list-bullet">
              <li>try uploading another photo or scan of your fit note</li>
              <li>post your fit note to Freepost DWP ESA 38</li>
            </ul>

            <ul class="error-summary-list">
          <li><a href="#save-and-upload">Try again</a></li>
        </ul>

          </div>

        </div><!-- col -->
    </div><!-- roq -->

    <div class="photo-guide form-group mt0">

    <h1 class="bold-large" id="save-and-upload">Save and upload your fit note</h1>

    <div class="grid-row">
      <div class="column-half">
        <ol class="list list-number">
          <li>Take a photo of your fit note or scan it to your computer.</li>
          <li>Make sure: 
            <ul class="list list-bullet">
              <li>you're in a well lit place</li>
              <li>all of your fit note is in the image</li>
              <li>your fit note isn't creased</li>
              <li>the image isn't blurred</li>
            </ul>
          </li>
          <li>Save the photo or scan somewhere you can easily find it on your computer.</li> 
        </ol>
      </div>

      <div class="column-half">
        <img src="/public/images/guideline-photo.jpg" alt="" width="100%">
      </div>
    </div>

    <form action="nino" method="get" style="margin-bottom:30px">

      <div class="form-group">
        <input id="uploadFile" class="form-control uploaded" style="display:none">
        <div class="fileUpload button" id="opencam">
            <span>Choose a file to upload</span>
            <input id="uploadBtn" class="upload" name="uploadBtnText" type="file">
        </div>
       
      </div><!-- form-group -->

      <div class="form-group">
        <input type="submit" class="button" value="Upload" id="startButton" style="display:none">
      </div><!-- form-group -->

    </form>


  <script type="text/javascript">
    document.getElementById("uploadBtn").onchange = function (e,i)
    {
      document.getElementById("uploadFile").value = document.getElementById("uploadBtn").files[0].name;
      document.getElementById("uploadFile").style.display = "block"
      document.getElementById("opencam").style.display = "none"
      document.getElementById("startButton").style.display = "block"
    }
  </script>

    </div>
</main>

{% endblock %}
  </main>


{% block footer_support_links %}
  <p style="font-size:19px"><a href="nino">continue</a></p>
{% endblock %}

{% block footer_top %}
<p>Possible error pages: <a href="index">Save and upload your fit note</a> | <a href="error_1">Error 1: new scan or photo</a> | <a href="error_3">Error 3: try again with diff device or freepost</a></p>
{% endblock %}