// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'inc/alerts';
@import 'inc/clearfix';
@import 'inc/small-checkbox';
@import 'inc/margins';
@import 'inc/fileupload';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.verify-logo {
  height:45px;
  vertical-align:-2px;
  margin-right:10px;
  float:left;
}

strong {font-weight:700}

.govuk-box-permission {
  background-color:$govuk-blue;
  padding:30px;
  color:white;
  .button {
    background-color:white;
    color:$govuk-blue;
    font-weight:700;
  }
}

.govuk-box-highlight {
  padding-bottom:60px;
}
.index_list {
  li {
    margin-bottom:10px;
  }
}

.spaced-number {
  letter-spacing:5px;
}
.form-group {
  .form-group-day,
  .form-group-month,
  .form-group-year
   {margin-right:10px;}
}

.nhs {
  #global_header .header-wrapper {
    background-color:$govuk-blue;
  }
}

.keyline {
  border-bottom:1px solid $grey-2;
}
table.index {
  // p {font-size:0.8em;}
  td {vertical-align: top}
  h2 {margin-top:0;}
  td:last-child { vertical-align:bottom;}
}
.text-sm {
  font-size:16px;
}
.nobr {
  white-space: nowrap;
}

.secondary-bar {
 float: right;
 li {
 display:inline-block;
 }

 .alert-default {
  border-color: $light-blue;
  background-color: mix(white, $light-blue, 90%);
}
}


@mixin phase-tag($state: '') {

  @if $state != '' {
    @warn 'Passing a phase to the phase-tag mixin is deprecated';
  }

  @include inline-block;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;

  @include bold-16($line-height: 20 / 16);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  color: $white;
  background-color: $govuk-blue;
}

.phase-tag {
  position:relative;
  top:-2px;
  left:4px;
  @include phase-tag;
}

.caps {
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:0.1em;
}


/* pagination solen from GOV UK */
.pagination {
  display: block;
  margin: 4em 0 0 0;
  border-bottom: 1px solid #bfc1c3;
}

@media (max-width: 640px) {
  .pagination {
    margin: 2em 0 0 0;
  }
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  float: left;
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 49%;
}

@media (max-width: 640px) {
  .pagination li {
    font-size: 14px;
    line-height: 1.14286;
  }
}

.pagination li a {
  background-color: transparent;
  display: block;
  color: #005ea5;
  text-decoration: none;
}

.pagination li a:hover, .pagination li a:active {
  background-color: #f8f8f8;
}

.pagination li a .pagination-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 0.1em;
  display: block;
}

@media (max-width: 640px) {
  .pagination li a .pagination-label {
    font-size: 20px;
    line-height: 1.11111;
  }
}

.pagination li a .pagination-part-title {
  text-decoration: underline;
}

.pagination li.next {
  float: right;
  text-align: right;
}

.pagination li.next a:before {
  background: transparent url(/public/images/icons/arrow-sprite-8275c6a71c56adfe1ac2b06ae7d4b12e.png) no-repeat -102px -11px;
  margin: -4px -32px 0 0;
  display: block;
  float: right;
  width: 30px;
  height: 38px;
  content: " ";
}

.pagination li.previous a:before {
  background: transparent url(/public/images/icons/arrow-sprite-8275c6a71c56adfe1ac2b06ae7d4b12e.png) no-repeat -20px -11px;
  margin: -4px 0 0 -32px;
  display: block;
  float: left;
  width: 30px;
  height: 38px;
  content: " ";
}

.pagination li.previous {
  float: left;
  text-align: left;
}

.pagination li.previous a {
  padding: 0.75em 0 0.75em 3em;
}

.pagination li.next a {
  padding: 0.75em 3em 0.75em 0;
}

@media (max-width: 640px) {
  .pagination li.previous, .pagination li.next {
    float: left;
    width: 50%;
  }
}

.hcp-list {
  margin: 10px 0;
  padding-bottom: 10px;
}

.hcp-list.seperator {
  border-bottom: 1px solid #bfc1c3;
}
