// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

$nhs-blue: #0072c6;

body { background-color:white; }

#global-header {
  background-color:$nhs-blue;
  .header-wrapper { 
    background-color: $nhs-blue; 
    .header-global .header-logo { margin-top:8px; margin-left:15px; }
  }
}

.sicknote {
  border:2px solid $grey-3;
  padding:15px;
  margin-bottom:15px;
  .heading {margin:0;}
}

.alert-default {
  border-color: $light-blue;
  background-color: mix(white, $light-blue, 90%);
}
.govuk-box-highlight {
  background-color:$nhs-blue;  
}
