{% extends "layout.html" %}

{% block page %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Send your doctor’s note</h1>
      <div class="panel panel-indent">
        <h2 class="verify-heading">
          <img src="/public/images/govuk-verify.png" class="verify-logo"><strong>GOV.UK</strong><br>Verify
        </h2>
      </div>
      <p>This service uses GOV.UK Verify to check your identity.</p>
      <a class="button" href="nhs">Continue</a>
    </div>
  </div>
  
{% endblock %}
