{% extends path+"/../layout.html" %}

{% block leftcol %}

<div class="govuk-box-highlight">
  <h1 class="bold-xlarge">
    <p class="font-medium">
      <img class="icon" src="/public/images/icon-tick@2x.png" alt="An image of a tick"/>
      Your sick note has been received
    </p>
    It’s valid until<br />{{ '' | fortnight }}
  </h1>
  <p></p>
</div>

<h2 class="bold-medium heading-medium">What happens next</h2>
<p>If you've given a mobile number you'll get a text message to confirm that your fit note's been processed, and when to expect your payment.</p>
<p>You don't need to do anything else, or call to check on it’s progress. If there’s a problem you’ll be contacted. </p>

{% endblock %}
