{% extends "layout.html" %}

{% set serviceName = "Send your fit note" %}

{% block page %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large" style="margin-bottom:15px;">
          Email sent
        </h1>
        to<br />tsmorgan@gmail.com
      </div>
      
      <h3 class="heading-medium">What to do next</h3>
      <p>Click the link in your email to use the service.</p>
      
    </div>
  </div>

{% endblock %}
