{% extends "layout.html" %}

{% set serviceName = "Send your fit note" %}

{% block page %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Send your fit note</h1>

      <p>If you haven't registered with this service:</p>
      <p><a class="button button-start" href="register">Register</a></p>

      <br />

      <p>If you've already registered:</p>
      <p><a class="button button-start" href="signin">Sign in</a></p>
      
    </div>
  </div>

{% endblock %}
