{% extends path+"/layout.html" %}

{% block leftcol %}

<h1 class="heading-large">
  Use this service to send your fit note for your Employment and Support Allowance claim
</h1>

<p>You&rsquo;ll need:</p>
<ul class="list list-bullet">
    <li>your fit note signed by your doctor &ndash; you might also know this as a sick note, doctor&rsquo;s note or medical certificate</li>
    <li>a device to photograph or scan your fit note
    <li>your National Insurance number</li>
</ul>

<form action="benefit-payment" method="post">
  <input type="submit" class="button" value="Continue">
</form>

{% endblock %}
