{% extends path+"/layout.html" %}

{% block leftcol %}

<h1 class="heading-large">
  Send your fit note for your ESA claim
</h1>



<p>You’ll be told during your assessment for <a href="https://www.gov.uk/employment-support-allowance/how-to-claim">Employment Support Allowance (ESA)</a> when you need to send fit notes (sometimes called ‘sick notes’ or ‘doctor’s notes’).</p>

<p>You&rsquo;ll need:</p>
<ul class="list list-bullet">
    <li>your fit note signed by your doctor</li>
    <li>your National Insurance number</li>
    <li>a phone or tablet with a camera, or a computer with a saved photo or copy of your fit note</li>

</ul>

<form action="benefit-payment-2" method="post">
  <input type="submit" class="button" value="Start now">
</form>

{% endblock %}
