{% extends "layout.html" %} {% block page_title %} Apply for Employment and Support Allowance (ESA) {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}
<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
            <li><a href="http://www.gov.uk">Home</a></li>
            <li><a href="https://www.gov.uk/browse/benefits">Benefits</a></li>
            <li><a href="https://www.gov.uk/browse/benefits/disability">Carers and disability benefits</a></li>
        </ol>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="pub-c-title

  pub-c-title--bottom-margin">
                <h1 class="heading-xlarge ">
    Employment and Support Allowance (ESA)
  </h1>
    <div class="">

    </div>
            </div>

          <p>Contents<br>
            – Overview<br>
            – <a href="https://www.gov.uk/employment-support-allowance/what-youll-get">What you'll get</a><br>
            – <a href="https://www.gov.uk/employment-support-allowance/types-of-esa">Types of ESA</a><br>
            – <a href="https://www.gov.uk/employment-support-allowance/eligibility">Eligibility</a><br>
            – <a href="https://www.gov.uk/employment-support-allowance/how-to-claim">How to claim</a><br>
            – <a href="/send-your-fit-note-beta-6/gov-apply">How to send your fit note</a><br>
            – <a href="https://www.gov.uk/employment-support-allowance/change-of-circumstances">Report a change of circumstances</a><br>
            – <a href="https://www.gov.uk/employment-support-allowance/moving-incapacity-benefits-esa">Moving from incapacity benefits to ESA</a></p>

            <!-- <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
                    <ol class="column-half list list-number">
                        <li>
                            Overview
                        </li>
                        <li>
                            <a href="https://www.gov.uk/employment-support-allowance/what-youll-get">What you'll get</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/employment-support-allowance/types-of-esa">Types of ESA</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/employment-support-allowance/eligibility">Eligibility</a>
                        </li>
                    </ol>
                    <ol class="list list-number column-half" start="5">
                        <li>
                            <a href="https://www.gov.uk/employment-support-allowance/how-to-claim">How to claim</a>
                        </li>
                        <li>
                           <a href="/send-your-fit-note-beta-6/gov-apply">How to send your fit note</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/employment-support-allowance/change-of-circumstances">Report a change of circumstances</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/employment-support-allowance/moving-incapacity-benefits-esa">Moving from incapacity benefits to ESA</a>
                        </li>
                    </ol>
                </nav>
            </aside> -->
            <h1 class="heading-medium">Overview</h1>
              <p>Use a <a href="https://www.gov.uk/benefits-calculators">benefits calculator</a> to check if you can get Employment and Support Allowance (ESA) or Universal Credit before you apply.</p>

              <p>If you’re ill or disabled, Employment and Support Allowance (ESA) offers you:</p>

                <ul class="list list-bullet">
                    <li><a href="https://www.gov.uk/employment-support-allowance/what-youll-get">financial support</a> if you’re unable to work</li>
                    <li>personalised help so that you can work if you’re able to</li>
                </ul>

              <p>You can <a href="https://www.gov.uk/employment-support-allowance/how-to-claim">apply for ESA</a> if you’re employed, self-employed or unemployed.</p>

              <p>You might be <a href="https://www.gov.uk/employment-support-allowance/moving-incapacity-benefits-esa">transferred to ESA</a> if you’ve been claiming other benefits like Income Support or Incapacity Benefit.</p>

              <h2 class="heading-medium">Work Capability Assessment</h2>

                <p>If you claim ESA you must have a <a href="https://www.gov.uk/employment-support-allowance/eligibility">Work Capability Assessment</a>. This is to see to what extent your illness or disability affects your ability to work.</p>

                <p>You’ll then be placed in one of 2 groups if you’re entitled to ESA:</p>

                <ul class="list list-bullet">
                    <li>work-related activity group, where you’ll have regular interviews with an adviser</li>
                    <li>support group, where you don’t have interviews</li>
                </ul>

              <h2 class="heading-medium">What you’ll get</h2>

                <p>How much ESA you get depends on:</p>

                <ul class="list list-bullet">
                    <li>your circumstances, such as <a href="https://www.gov.uk/employment-support-allowance/eligibility">income</a></li>
                    <li>the <a href="https://www.gov.uk/employment-support-allowance/types-of-esa">type of ESA</a> you qualify for</li>
                    <li>where you are in the assessment process</li>
                </ul>

                <p>Use a <a href="https://www.gov.uk/benefits-calculators">benefits calculator</a> to work out how much you can get.</p>

            <footer>
                <nav class="pagination" role="navigation" aria-label="Pagination">
                    <ul class="group">

                        <li class="next">
                            <a href="gov-circs" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span> <span class="pagination-part-title"> Changes you must tell us about</span>
              </a>
                        </li>
                    </ul>
                </nav>
            </footer>
            <div class="app-c-print-link">
                <a href="/employment-support-allowance/print" class="app-c-print-link__link" rel="alternate">
    Print entire guide
  </a>
            </div>
        </div>
        <div class="column-third">
            <aside class="govuk-related-items" data-module="track-click" role="complementary">
                <h2 data-track-count="sidebarRelatedItemSection">
        <strong>Benefits entitlement</strong>
      </h2>
                <nav role="navigation">
                    <ul>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/benefits-calculators" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Benefits calculators&quot;}" href="/benefits-calculators">Benefits calculators</a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/jobseekers-allowance" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Jobseeker's Allowance (JSA)&quot;}" href="/jobseekers-allowance">Jobseeker's Allowance (JSA)</a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/universal-credit" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Universal Credit&quot;}" href="/universal-credit">Universal Credit</a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/benefit-fraud" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Benefit fraud&quot;}" href="/benefit-fraud">Benefit fraud</a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.5" data-track-label="/how-to-have-your-benefits-paid" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;How and when your benefits are paid&quot;}" href="/how-to-have-your-benefits-paid">How and when your benefits are paid</a>
                        </li>
                        <li class="related-items-more">
                            <a data-track-category="relatedLinkClicked" data-track-action="1.6" data-track-label="/browse/benefits/entitlement" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/benefits/entitlement">
                More
                  <span class="visuallyhidden">
                    in
                    Benefits entitlement
                  </span>
</a> </li>
                    </ul>
                </nav>
                <h2 data-track-count="sidebarRelatedItemSection">
        <strong>Benefits</strong>
      </h2>
                <nav role="navigation">
                    <ul>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="2.1" data-track-label="/financial-help-disabled" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Financial help if you're disabled&quot;}" href="/financial-help-disabled">Financial help if you're disabled</a>
                        </li>
                        <li class="related-items-more">
                            <a data-track-category="relatedLinkClicked" data-track-action="2.2" data-track-label="/browse/benefits" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/benefits">
                    More
                  <span class="visuallyhidden">
                    in
                    <strong>Benefits</strong>
                  </span>
</a> </li>
                    </ul>
                </nav>
                <h2 data-track-count="sidebarRelatedItemSection">
        <strong>Elsewhere on GOV.UK</strong>
      </h2>
                <nav role="navigation">
                    <ul>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="3.1" data-track-label="/statutory-sick-pay" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Statutory Sick Pay (SSP) &quot;}" href="/statutory-sick-pay">Statutory Sick Pay (SSP) </a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="3.2" data-track-label="/contact-jobcentre-plus" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Contact Jobcentre Plus&quot;}" href="/contact-jobcentre-plus">Contact Jobcentre Plus</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
{% endblock %}
