{% extends path+"/../layout.html" %}

{% block backlink %}
  <a href="../upload/" class="link-back">Back</a>
{% endblock %}

{% block leftcol %}

<div class="govuk-box-highlight">
  <h1 class="bold-xlarge">
    <img class="icon" src="/public/images/icon-tick@2x.png" alt=""/>
    Image quality okay
  </h1>
</div>

<h2 class="heading-medium">
  Your fit note is ready to send
</h2>
<p>You just need to provide a few more details.</p>

<a class="button" href="nino" role="button">Continue</a>

{% endblock %}
