{% extends path+"/../layout.html" %}

{% block backlink %}
  <a href="../choosemethod" class="link-back">Back</a>
{% endblock %}

{% block leftcol %}
{% if data['upload-attempt'] == 1 or data['upload-attempt'] == 2 %}

  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    {% if data['method-group'] == 'photo' %}
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      There&rsquo;s a problem with your photo
    </h1>
    <p><a href="guide/step1?upload-attempt=0&syfn-errors=false">Get more help to get your photo right</a></p>
    <ul class="error-summary-list">
      <li><a href="#error-link">Try taking another photo</a></li>
    </ul>
    {% else %}
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      There&rsquo;s a problem with the photo or scan of your fit note
    </h1>
    <p>Try uploading another or <a href="guide/step1?upload-attempt=0&syfn-errors=false">get help with taking a photo</a></p>
    <ul class="error-summary-list">
      <li><a href="#error-link">Upload another photo or scan</a></li>
    </ul>
    {% endif %}

  </div>

{% elif data['upload-attempt'] == 3 %}

  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

  {% if data['method-group'] == 'photo' %}
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      There&rsquo;s a problem with your photo
    </h1>
    <h3 class="heading-small">You can either:</h3>
    <ul class="list list-bullet">
      <li>try again with this device</li>
      <li>try again with another device &ndash; you can ask a family member or friend to use theirs</li>
      <li><a href="guide/step1?upload-attempt=0&syfn-errors=false">get more help to get your photo right</a></li>
    </ul>
    <ul class="error-summary-list">
      <li><a href="#error-link">Try taking another photo</a></li>
    </ul>

  {% else %}

    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      There&rsquo;s a problem with the photo or scan of your fit note
    </h1>
    <h3 class="heading-small">You can either:</h3>
    <ul class="list list-bullet">
      <li>try again with this device</li>
      <li>try again with another device &ndash; you can ask a family member or friend to use theirs</li>
      <li>post your fit note to <span class="bold">Freepost DWP ESA 38</span> &ndash; you don&rsquo;t need a stamp</li>
      <li><a href="guide/step1?upload-attempt=0&syfn-errors=false">get more help to get your photo right</a></li>
    </ul>
    <ul class="error-summary-list">
      <li><a href="#error-link">Upload another photo or scan</a></li>
    </ul>

  {% endif %}

  </div>

{% endif %}



  <h1 class="heading-large">
  {% if data['method-group'] == 'photo' %}
    Take a photo of your fit note
  {% else %}
    Save and upload your fit note
  {% endif %}
  </h1>

  <div class="grid-row">

    <div class="column-half">
      <ol class="list list-number">
      {% if data['method-group'] == 'photo' %}

        <li>Put your fit note on a flat surface like a table.</li>
        <li>Make sure you&rsquo;re in a well lit place.</li>
        <li>Hold your phone above the paper, and make sure it&rsquo;s sideways or &lsquo;landscape&rsquo;.</li>

      {% else %}

        <li>Take a photo of your fit note or scan it to your computer.</li>
        <li>Save the photo or scan somewhere you can easily find it on your computer.</li>

      {% endif %}
      </ol>
      {% if data['method-group'] == 'photo' %}

        <p>Your photo will be automatically checked to make sure it's good enough.</p>
        <p><a href="guide/step1">Get more help to get your photo right</a></p>

      {% else %}

        <p><a href="guide/step1">Get more help to get your photo right</a></p>

        <p>Your photo or scan will be automatically checked to make sure the image quality is good enough.</p>

      {% endif %}
    </div>

    <div class="column-half">
      <img src="/public/images/guideline-photo.png" alt="" width="100%" style="margin-top: 0.5em">
    </div>

  </div> {# grid row #}

  <form {% if data['upload-attempt'] == 3 or data['syfn-errors'] != "true" %}action="loading"{% endif %} method="get" class="form">

    {% if data['upload-attempt'] == 1 or data['upload-attempt'] == 2 or data['upload-attempt'] == 3 %}

    <div class="form-group-error" id="error-link">
      <span class="error-message" id="uploaderror">
        {% if data['method-group'] == 'photo' %}
          Try taking another photo
        {% else %}
          Upload another photo or scan
        {% endif %}
      </span>

    {% else %}

    <div class="form-group">

    {% endif %}

      {% if data[ 'method-group']=='photo' %}

      <div class="button" id="fileUpload" onchange="submit()">
        <label>Open camera</label>
        <input id="js-photo" class="upload" type="file" accept="image/*" capture="camera">
      </div>

      {% else %}

      <div class="form-group-related">
        <label class="heading-small form-label-bold" for="file-input">
          Choose a file to upload
        </label>
        <input type="file" id="file-input" accept=".pdf,.jpg,.jpeg,.bmp,.png,.gif">
      </div>

      <div class="panel panel-border-wide">
        <ul class="list">
          {# <li>It&rsquo;s best to save your scan as a PDF (.pdf) file</li> #}
          <li>File types accepted: PDF, JPEG, BMP, PNG, GIF</li>
          <li>Minimum file size: 500KB (kilobytes)</li>
          <li>Maximum file size: 500MB (megabytes)</li>
        </ul>
      </div>

      {# <details>
        <summary><span class="summary">Rules for scanning</span></summary>

        <div class="panel panel-border-narrow">
          <p>.</p>
          <p>The following file types are also accepted if the file is bigger than 500KB (kilobytes):
          </p>
          <ul class="list list-bullet">
            <li>JPEG (.jpg)</li>
            <li>BMP (.bmp)</li>
            <li>PNG (.png)</li>
            <li>GIF (.gif)</li>
          </ul>
        </div>

      </details> #}

      <a class="button" id="fileUpload" onClick="submit()">Upload file</a>

      {% endif %}

    </div>

    <div id="uploading" style="display: none">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <p>Uploading...</p>
    </div>

    {% if not data['upload-attempt'] or data['upload-attempt'] == 0 %}
    <input type="hidden" name="upload-attempt" value="1">
    {% elif data['upload-attempt'] == 1 %}
    <input type="hidden" name="upload-attempt" value="2">
    {% elif data['upload-attempt'] == 2 %}
    <input type="hidden" name="upload-attempt" value="3">
    {% elif data['upload-attempt'] == 3 %}
    <input type="hidden" name="upload-attempt" value="0">
    {% endif %}

    <input type="submit" id="js-submit" style="display:none">

  </form>

<script type="text/javascript">
  function submit() {
    setTimeout(function(){ document.getElementById("js-submit").click() }, 1500);
    document.getElementById("fileUpload").style.display = "none"
    document.getElementById("uploading").style.display = "block"
    document.getElementById("uploaderror").style.display = "none"
  }
</script>

{% endblock %}

{% block footer_top %}
<p>
  Possible error pages:
  <form method="get" class="form">
    <input type="hidden" name="upload-attempt" value="1">
    <input type="submit" class="button-link" value="Error 1: try again and read guidance" id="startButton">
  </form>
  <form method="get" class="form">
    <input type="hidden" name="upload-attempt" value="2">
    <input type="submit" class="button-link" value="Error 2: try again and read guidance" id="startButton">
  </form>
  <form method="get" class="form">
    <input type="hidden" name="upload-attempt" value="3">
    <input type="submit" class="button-link" value="Error 3: post instead" id="startButton">
  </form>
</p>
{% endblock %}
