{% extends path+"/../layout.html" %}

{% block backlink %}
  <a href="accepted" class="link-back">Back</a>
{% endblock %}

{% block leftcol %}

<form action="address" method="post" class="form" name="yourDetails" id="yourDetailsForm">

  <h1 class="heading-large">
    National Insurance number
  </h1>

  <div class="form-group {% if errors.nino %}error{% endif %}">
    <label for="ninoFieldID" class="form-label">
      <span class="visuallyhidden">National Insurance number</span>
      <span class="form-hint">
        It&rsquo;s on your National Insurance card, benefit letter, payslip or P60.
        <br>
        For example, &lsquo;QQ 12 34 56 C&rsquo;.
      </span>
    </label>
    <input type="text" name="ninoField" id="ninoFieldID" class="form-control {{error.ninoCompleted}}" value="{{ data['ninoField'] }}" maxlength="13">
  </div>


  <div class="form-group">
    <input type="submit" id="add-your-details" class="button" value="Continue">
  </div>
</form>

{% endblock %}
