{% extends path+"/../layout.html" %}

{% block leftcol %}

<div class="govuk-box-highlight">
  <h1 class="bold-xlarge">
    <img class="icon" src="/public/images/icon-tick@2x.png" alt=""/>
    Finished
  </h1>
  <p class="font-large">Fit note sent</p>
</div>

<h2 class="bold-medium heading-medium">What happens next</h2>
<p>You'll get a confirmation text message in the next few minutes.</p>
<p>Keep your fit note safe, don&rsquo;t throw it away.</p>
<p>You don't need to do anything else or call to check on its progress. If there&rsquo;s a problem you&rsquo;ll be contacted. </p>
<p>Your reference is your National Insurance number.</p>
<p><a href="https://scfndev.itsshared.net/feedback">What do you think of this service?</a> (Takes 30 seconds)</p>
<p><a href="../index">Send another fit note</a></p>

{% endblock %}

{% block footer_top %}
<p>Other sent page options: <a href="sent">Option 1: Done </a> | <a href="sent-2">Option 2: Fit note sent</a></p>
{% endblock %}
