{% extends path+"/../layout.html" %}

{% block fullcol %}



<h1 class="bold-medium heading-medium">The service will be unavailable until xxam/pm on dd month</h1>

<p>You can either:</p>
  <ul class="list list-bullet">
    <li><a href="https://fitnote.itsbeta.net">try again later</a></li>
    <li>send your fit note to <strong>Freepost DWP ESA38</strong> (you don't need a stamp)</li>
    <li>call the contact centre if you need more help or you're worried about possible delays to your benefit payment</li>
  </ul>

  <div class="panel panel-border-narrow">
    <ul class="list">
      <li>Telephone 0800 1690310</li>
      <li>Textphone 0800 1690314</li>
      <li>Available weekdays 8am to 6pm. Closed public holidays.</li>
    </ul>
  </div>




{% endblock %}

{% block footer_top %}
<p>Other service unavailable messages: <a href="2">name 1</a> | <a href="">name 2</a></p>
{% endblock %}
