{% extends "layout.html" %}

{% block page %}
      
  <div class="govuk-box-permission">
    <div class="grid-row">
        <div class="column-one-third">
          <img src="/public/images/nhs.png" width="160" class="nhs-logo">
        </div>
        <div class="column-two-thirds">
          <h1 class="hidden">Request for permission</h1>
          <p class="font-medium">If you agree, the Department for Work and Pensions can access your doctor’s note directly from the NHS.</p>
          <p><a href="confirm" class="button">I agree</a></p>
        </div>
    </div>
  </div>

{% endblock %}
