{% extends "layout.html" %}

{% block page %}
      
  <div class="govuk-box-permission">
    <div class="grid-row">
        <div class="column-one-third">
          <img src="/public/images/nhs.png" width="160" class="nhs-logo">
        </div>
        <div class="column-two-thirds">
          <h1 class="hidden">Request for permission</h1>
          <p class="font-medium">If you agree, the Department for Work and Pensions can access your doctor’s note directly from the NHS.</p>
          <form action="confirm" method="post">
            <div class="form-group inline" style="margin-bottom:1em">
              <div class="form-group form-group-compound">
                <label class="block-label selection-button-radio" for="ongoing_consent_yes">
                  <input id="ongoing_consent_yes" type="radio" name="ongoing_consent" value="Yes">
                  Yes, I agree
                </label>
                <label class="block-label selection-button-radio" for="ongoing_consent_no">
                  <input id="ongoing_consent_no" type="radio" name="ongoing_consent" value="No">
                  No, I don't agree
                </label>
              </div>
            </div>
          </form>
          <p><a href="confirm" class="button" id="submit">Continue</a></p>
        </div>
    </div>
  </div>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('#submit').on('click',function(e)
    {
      e.preventDefault();
      if ($('#ongoing_consent_yes').prop('checked'))
      {
        $("form").attr('action','confirm');
        $("form").submit();
      } 
      if ($('#ongoing_consent_no').prop('checked'))
      {
        $("form").attr('action','confirm_not');
        $("form").submit();
      } 
      
    });
  });
</script>
{% endblock %}
