{% extends path+"/layout.html" %}

{% block page %}

  <div class="grid-row">
        
    <div class="column-two-thirds">
              
      <div class="govuk-box-highlight">
        <h1 class="bold-large">
          <p class="font-medium">
            Your doctor’s note has been received<br>
          </p>
          It’s valid until<br />{{ '' | fortnight }}
        </h1>
        <p></p>
      </div>

      <h2 class="heading-medium">
        What happens next
      </h2>

      <p>
        You’ll need to provide another doctor’s note by {{ '' | fortnightplus }} if you’re not able to work.
      </p>

      <p>
        Enter your mobile number to receive a reminder by text message.
      </p><p>

      <!-- Mobile number -->
      </p><div class="mobile-capture">
          <div class="form-group">
            <label class="form-label-bold" for="mobile-number">Mobile number</label>
            <input type="text" class="form-control" id="mobile-number">
          </div>
          <a href="/" class="button" id="mobile-submit">Send me a reminder</a>
      </div>
      
      <div class="mobile-confirmation js-hidden">
        <div class="panel panel-border-wide alert-success">
          <p class="bold-medium">
            You have now requested a text message reminder.
          </p>
          <p>
            We will send you a text message in the next few minutes to confirm that your reminder has been set-up.
          </p>
          <p>
            <a href="/">Back to the start</a>
          </p>
        </div>
      </div>
    </div><!-- row -->

  </div>


{% endblock %}
