{% extends "layout.html" %}

{% block page %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Do you know your NHS number?</h1>

      {# DO YOU KNOW YOUR NHS NUMBER #}
      <div class="form-group inline" style="margin-bottom:10px">
        <div class="form-group form-group-compound" aria-labelledby="represent">
          <label class="block-label" data-target="nhs-number" for="know-nhs-num-yes">
            <input id="know-nhs-num-yes" type="radio" name="know-nhs-num" value="Yes">
            Yes
          </label>
          <label class="block-label" for="know-nhs-num-no">
            <input id="know-nhs-num-no" type="radio" name="know-nhs-num" value="No">
            No
          </label>
        </div>
      </div>

      <div class="form-group js-hidden panel panel-border-narrow" id="nhs-number">
        <label class="form-label" for="full-name">Your NHS Number</label>
        <input class="form-control spaced-number" name="nhs-number" type="text">
      </div>

      <div class="form-group" style="margin-top:30px;">
        <a class="button" href="nino">Continue</a>
      </div>

    </div>
  </div>

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $("#nhs-number input").on('keyup',function()
    {
      var s = $(this).val();
      var n = s.length;
      if (n == 3) $(this).val(s+'-');
    });
  });
</script>
{% endblock %}
