{% extends path+"/../../layout.html" %}

{% block fullcol %}

<a href="../index" class="link-back">Upload your photo</a>
<span class="marker">Guide part 1 of 5</span>

<div class="photo-guide form-group">

  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large mt0">
        Hold the device directly above the fit note
      </h1>
      <p>It&rsquo;s best hold the device about a foot above it.</p>
      <p>Avoid taking the photo at an angle.</p>

      <img src="/public/images/step3.png" alt="">
    </div>
  </div>

  <nav class="guide-nav">
    <ul>
      <!-- <li class="button-guide button-guide-previous">
        <a href="step1">Back</a>
      </li> -->
      <li class="button-guide button-guide-next">
        <a href="step2">Next</a>
      </li>
    </ul>
  </nav>

  </div>

{% endblock %}


{% block footer_top %}
<p>Possible error pages: <a href="error_1">Error 1: try again</a> | <a href="error_2">Error 2: try again or post</a> | <a href="error_3">Error 3: try again, use different device or post</a>
{% endblock %}
