{% extends path+"/layout.html" %}

{% block leftcol %}

  <h1 class="heading-large">How would you like to send your fit note?</h1>

  <form method="post" action="404">

      <div class="multiple-choice">
        <input id="method-2" type="radio" name="method-group" value="photo,redirect(photo/)">
        <label for="method-2">by taking a photo of it with your smartphone or tablet</label>
      </div>
      <div class="multiple-choice">
        <input id="method-3" type="radio" name="method-group" value="scan,redirect(upload/)">
        <label for="method-3">by uploading a photo or scanned image of it from your computer</label>
      </div>
      <div class="multiple-choice" data-target="post_address">
        <input id="method-4" type="radio" name="method-group" value="post">
        <label for="method-4">by posting it to DWP</label>
      </div>
    </div>
    <div class="panel js-hidden" id="post_address">
      <p>Post your sick note to:</p>
      <p>
        Mail Handling Site A<br />
        Wolverhampton<br />
        WV98 2AJ
      </p>
    </div>

    <div class="form-group mt10">
      <input type="submit" class="button" value="Continue" />
    </div>

  </form>

{% endblock %}
