{% extends "esa/layout.html" %}

{% block page_title %} Sick note {% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "../includes/phase_banner_beta.html" %}
  <form action="claim-date" method="post" class="form">
    <div class="grid-row">
      <div class="column-two-thirds">

        <a class="link-back" href="health-conditions">Back</a>

        <header>
          <h1 class="form-title heading-large">Do you have a sick note?</h1>
        </header>

        <div class="form-group">

          <fieldset class="inline form-group">
    
            <label class="block-label" data-target="fitnote" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="partner" value="Yes"> Yes
            </label>
            <label class="block-label" data-target="no-fitnote" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="partner" value="No"> No
            </label>
          </fieldset>

          <div class="panel js-hidden" id="fitnote">
            <div class="text" style="margin-bottom:1em;">
              The Department for Work and Pensions can get your sick note directly from the NHS, so you don’t have to post it in. No other information will be accessed apart from the what’s on the sick note.

            </div>
            <fieldset class="form-group">
              <p class="form-label-bold" for="partner">Do you want to do that? </p>
              <label class="block-label" for="give-consent-yes">
                <input id="give-consent-yes" type="radio" name="consent" value="redirect(sick-note-autoget)"> Yes, get it directly from the NHS
              </label>
              <label class="block-label" for="give-consent-no">
                <input id="give-consent-no" type="radio" name="consent" value="redirect(sick-note-manual)"> No, I want to post it in myself 
              </label>
            </fieldset>
          </div><!-- panel -->

          <div class="panel js-hidden" id="no-fitnote">
            <p>To claim Employment and Support Allowance you’ll need to get a sick note from your doctor. </p>
            <p>When you get it you can either post it in, or DWP can be access it directly from your NHS records. </p>
            <p>No other information will be accessed other than what’s on the sick note.</p>
            <fieldset class=" form-group">
              <p class="form-label-bold">Do you want to do that? </p>
              <label class="block-label" for="future-consent-yes">
                <input id="future-consent-yes" type="radio" name="future-consent" value="redirect(sick-note-futureget)"> Yes, get it directly from the NHS
              </label>
              <label class="block-label" for="future-consent-no" data-target="then_post_it">
                <input id="future-consent-no" type="radio" name="future-consent" value="no"> No, I want to post it in myself 
              </label>
            </fieldset>
            <div class="panel js-hidden" id="then_post_it">
              <p>When you have a sick note, post it to:</p>
              <p>
                Mail Handling Site A<br />
                Wolverhampton<br />
                WV98 2AJ
              </p>
            </div>
          </div>

        </div><!-- form-group -->
        <!-- Primary buttons, secondary links -->
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

        {# <div class="form-group">
          <p><a href="exit">Save and come back later</a></p>
        </div> #}
      </div>
      <div class="column-one-third">
        {% include "esa/help.html" %}
      </div>
    </div>
  </form>
</main>
{% endblock %}
