{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge mb0"> {{ serviceName }} </h1>
      <p class="form-hint caps mb0">Prototypes</p>

      <h2 class="heading-large">Consent &amp; Data Sharing</h2>

      <table class="index">
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Mid-ESA application</h2>
            <p>Asking for consent to get the patients sick note directly from the NHS in the middle of the existing digital ESA claim form.</p>
            <p><a href="/esa/v2/personal-details" class="button">Launch v2 prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Consent management</h2>
            <p>Exploring a management service showing user consents for sharing data across Govt departments.</p>
            <a href="/consent-v1/verify" class="button">Launch prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Ongoing consent</h2>
            <p>Simple flow offering an "ongoing consent" question at the end allowing us to test users reactions to and understanding of this.</p>
            <p><a href="/v5/" class="button">Launch prototype</a></p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Your doctor's notes - NHS</h2>
            <p>First attempt at a NHS-centric experience. Allowing users to see all their sick notes and allowing them to share them with DWP individually.</p>
            <p><a href="/v4/" class="button">Launch prototype</a></p>
          </td>
        </tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your doctor’s note to DWP - v3</h2>
            <p>Opposite to V1. Asking for a lot of extra information to test what people's reaction is to having to give this as part of the process. The Yes/No questions around NHS number and NI number in particular are focussed on gathering users reactions rather than representing a realistic experience.</p>
            <p><a href="/v3/" class="button">Launch prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your doctor’s note to DWP - v2</h2>
            <p>Introduces Verify as an identity step and shows the user their sick note for them to confirm it's correct before "sending".</p>
            <p><a href="/v2/" class="button">Launch prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your doctor’s note to DWP - v1</h2>
            <p>A deliberately unrealistically simple version to test our assumption that users expect us to share data with almost no interaction or oversight from them.</p>
            <p><a href="/v1/" class="button">Launch prototype</a></p>
          </td>
        </tr>
      </table>

      <h2 class="heading-large">Send your fit note</h2>
      <p>Prototype versions of a service allowing users to send their fit note to DWP using a phone, tablet or computer.</p>
      <table>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 7</h2>
            <p>Changes to this version (to test in user research):</p>
            <ul class="list list-bullet">
                <li>added check your answers</li>
                <li>added 2 new pages with content about possible payment delays when DRS is unavailable</li>
                <li>changed 'Image accepted' to 'Image quality accepted'</li>
                <li>added progressive disclosure 'Rules for scanning' on Save and upload page.</li>
                <li>created 3 confirmation page options to make it clearer fit note sent</li>
                <li>corrected the text message sentence in confirmation page</li>
                <li>added message in confirmation pages to say the user's reference is their NINo</li>
            </ul>

            <form action="/send-your-fit-note-beta-7/index" method="post" class="form">

              <input name="syfn-errors" value="false" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors disabled">
              </div>

            </form>
            <form action="/send-your-fit-note-beta-7/index" method="post" class="form">

              <input name="syfn-errors" value="true" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors enabled">
              </div>
            </form>
            <h3 class="heading-small">User research:</h3>
            <p>To follow</p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 6</h2>
            <p>Changes in this version:</p>
            <ul class="list list-bullet">
                <li>added 'Image accepted' page and content between photo/file upload and NINo pages</li>
                <li>added real phones numbers to right hand 'Get help' section</li>
                <li>removed 'Put your fit note on a flat, plain surface' page from photo guide</li>
                <li>removed 'Make sure you’re in a well lit place' page from photo guide</li>
                <li>moved 'Check for shadows' page forward in the photo guide flow and added content about finding a well lit place</li>
                <li>made minor changes to error message content
            </ul>

            <form action="/send-your-fit-note-beta-6/gov-overview" method="post" class="form">

              <input name="syfn-errors" value="false" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors disabled">
              </div>

            </form>
            <form action="/send-your-fit-note-beta-6/gov-overview" method="post" class="form">

              <input name="syfn-errors" value="true" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors enabled">
              </div>
            </form>
            <h3 class="heading-small">User research:</h3>
            <a href="/public/pdfs/18-03-19-lab-research.pdf">Lab research findings 19 Mar 2018</a></p>
          </td>
        </tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 5</h2>
            <p>Changes in this version:</p>
              <ul class="list list-bullet">
                <li>added 'Get help' phone numbers and opening times</li>
                <li>changed background colour layout of 'Take a photo' and 'Save and upload' pages</li>
                <li>added 'get help with takong a photo' link to 'There's a problem with your photo' error message</li>

              </ul>

            <form action="/send-your-fit-note-beta-5/gov-apply" method="post" class="form">

              <input name="syfn-errors" value="false" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors disabled">
              </div>

            </form>
            <form action="/send-your-fit-note-beta-5/gov-apply" method="post" class="form">

              <input name="syfn-errors" value="true" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors enabled">
              </div>

            </form>

            <h3 class="heading-small">User research:</h3>
            <a href="/public/pdfs/27022018-v5.pdf">Lab research findings 27 Feb 2018</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 4</h2>
            <p>Changes in this version:</p>
              <ul class="list list-bullet">
                <li>added mock-up of 'How to send your fit note' GOV.UK page
                <li>added 'sick note' synonyms to start page</li>
                <li>added reveal message about getting help in public libraries</li>
                <li>added 'Get more help to get your photo right' guidance</li>
                <li>changed field on 'Your address' to 'House name or number'
                <li>changed 'Received' confirmation to 'Sent' on last page</li>
                <li>removed image playback after upload of photo or scan</li>
              </ul>

            <form action="/send-your-fit-note-beta-4/" method="post" class="form">

              <input name="syfn-errors" value="false" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors disabled">
              </div>

            </form>
            <form action="/send-your-fit-note-beta-4/" method="post" class="form">

              <input name="syfn-errors" value="true" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors enabled">
              </div>

            </form>

            <h3 class="heading-small">User research:</h3>
            <a href="/public/pdfs/13022018-v4.pdf">Lab research findings 13 Feb 2018</a></p>

          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 3</h2>
            <p>Changes in this version:</p>
              <ul class="list list-bullet">
                <li>changed text message question to offer confirmation fit note recieved instead of when first payment due</li>
                <li>added success page (before NINo page) with playback of image and option to go back and replace it</li>
                <li>added hinto text to NINo page consistent with GDS pattern</li>
                <li>changed 'There's a problem with your photo' error message 2 to be the same as error 1</li>
              </ul>
            <p><a href="/send-your-fit-note-beta-3/" class="button">Launch prototype</a></p>
            <h3 class="heading-small">User research:</h3>
            <a href="/public/pdfs/dec-2017-leeds-preston-v3.pdf">Research findings Dec 2017</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 2</h2>
              <p>Changes in this version:</p>
                <ul class="list list-bullet">
                  <li>added 'How to apply for ESA' (GOV.UK) page mock-up</li>
                  <li>added images showing good and bad examples of fit note photos</li>
                  <li>added new error messages for fit notes photos rejected by the service</li>
                </ul>
            <p><a href="/send-your-fit-note-beta-2/" class="button">Launch prototype</a></p>
            <h3 class="heading-small">User research:</h3>
            <a href="/public/pdfs/29112017-wakefield-v2.pdf">Research findings 29 Nov 2017</a></p>

          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 1</h2>
            <p>Added first design of a journey for desktop or laptop users.
            </p>
            <p><a href="/send-your-fit-note-beta-1/" class="button">Launch prototype</a></p>
          </td>
        </tr>
          <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your sick note</h2>
            <p>A prototype of a service allowing users to send their sick note to DWP by which ever method they like.</p>
            <p><a href="/sendyoursicknote/" class="button">Launch prototype</a></p>
          </td>
        </tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send a photo of your sick note</h2>
            <p>A prototype of the service allowing users to send their sick note to DWP by taking a picture of it on their phone.</p>
            <p><a href="/sendphoto/" class="button">Launch prototype</a></p>
          </td>
        </tr>

      </table>

    </div><!-- column -->
    <div class="column-third">
      <p class="form-hint mt60" style="text-align:right">Edit these files on <a href="https://github.com/dwpdigitaltech/nhs-dwp-joint-team">GitHub</a>.</p>
    </div><!-- column -->
  </div><!-- row -->

</main>

{% endblock %}
