{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge mb0"> {{ serviceName }} </h1>
      <p class="form-hint caps mb0">Prototypes</p>

      <h2 class="heading-large">Consent &amp; Data Sharing</h2>

      <table class="index">
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Mid-ESA application</h2>
            <p>Asking for consent to get the patients sick note directly from the NHS in the middle of the existing digital ESA claim form.</p>
            <p><a href="/esa/v2/personal-details" class="button">Launch v2 prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Consent management</h2>
            <p>Exploring a management service showing user consents for sharing data across Govt departments.</p>
            <a href="/consent-v1/verify" class="button">Launch prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Ongoing consent</h2>
            <p>Simple flow offering an "ongoing consent" question at the end allowing us to test users reactions to and understanding of this.</p>
            <p><a href="/v5/" class="button">Launch prototype</a></p>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Your doctor's notes - NHS</h2>
            <p>First attempt at a NHS-centric experience. Allowing users to see all their sick notes and allowing them to share them with DWP individually.</p>
            <p><a href="/v4/" class="button">Launch prototype</a></p>
          </td>
        </tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your doctor’s note to DWP - v3</h2>
            <p>Opposite to V1. Asking for a lot of extra information to test what people's reaction is to having to give this as part of the process. The Yes/No questions around NHS number and NI number in particular are focussed on gathering users reactions rather than representing a realistic experience.</p>
            <p><a href="/v3/" class="button">Launch prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your doctor’s note to DWP - v2</h2>
            <p>Introduces Verify as an identity step and shows the user their sick note for them to confirm it's correct before "sending".</p>
            <p><a href="/v2/" class="button">Launch prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your doctor’s note to DWP - v1</h2>
            <p>A deliberately unrealistically simple version to test our assumption that users expect us to share data with almost no interaction or oversight from them.</p>
            <p><a href="/v1/" class="button">Launch prototype</a></p>
          </td>
        </tr>
      </table>

      <h2 class="heading-large">Send your fit note</h2>
      <table>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 5</h2>
            <p>A prototype of a service allowing users to send their fit note to DWP using a phone, tablet or computer.</p>

            <form action="/send-your-fit-note-beta-5/" method="post" class="form">

              <input name="syfn-errors" value="false" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors disabled">
              </div>

            </form>
            <form action="/send-your-fit-note-beta-5/" method="post" class="form">

              <input name="syfn-errors" value="true" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors enabled">
              </div>

            </form>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 4</h2>
            <p>A prototype of a service allowing users to send their fit note to DWP using a phone, tablet or computer. Added timeout warning message for desktop journey. Added message about connecting mobile device to Wifi.</p>

            <form action="/send-your-fit-note-beta-4/" method="post" class="form">

              <input name="syfn-errors" value="false" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors disabled">
              </div>

            </form>
            <form action="/send-your-fit-note-beta-4/" method="post" class="form">

              <input name="syfn-errors" value="true" type="hidden">

              <div class="form-group">
                <input type="submit" class="button" value="Launch prototype &ndash; errors enabled">
              </div>

            </form>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 3</h2>
            <p>A prototype of a service allowing users to send their fit note to DWP using a phone, tablet or computer. Changed text message question to offer confirmation fit note recieved. Added playback page and option to go back and replace the photo or scan. Added success message before NINo page. Changed error 2 to be the same as error 1.</p>
            <p><a href="/send-your-fit-note-beta-3/" class="button">Launch prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 2</h2>
            <p>A prototype of a service allowing users to send their fit note to DWP using a phone or tablet, or by desktop PC or laptop. Added 'How to apply for ESA' (GOV.UK) page, images showing good and bad examples of fit note photos and new error messaging for fit notes rejected by the service.</p>
            <p><a href="/send-your-fit-note-beta-2/" class="button">Launch prototype</a></p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your fit note: beta 1</h2>
            <p>A prototype of a service allowing users to send their fit note to DWP by which ever method they like. Added first iteration of a journey desktop or laptop users.
            </p>
            <p><a href="/send-your-fit-note-beta-1/" class="button">Launch prototype</a></p>
          </td>
        </tr>
          <tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send your sick note</h2>
            <p>A prototype of a service allowing users to send their sick note to DWP by which ever method they like.</p>
            <p><a href="/sendyoursicknote/" class="button">Launch prototype</a></p>
          </td>
        </tr>
          <td>
            <h2 class="heading-medium mb0 mt30">Send a photo of your sick note</h2>
            <p>A prototype of the service allowing users to send their sick note to DWP by taking a picture of it on their phone.</p>
            <p><a href="/sendphoto/" class="button">Launch prototype</a></p>
          </td>
        </tr>

      </table>

    </div><!-- column -->
    <div class="column-third">
      <p class="form-hint mt60" style="text-align:right">Edit these files on <a href="https://github.com/dwpdigitaltech/nhs-dwp-joint-team">GitHub</a>.</p>
    </div><!-- column -->
  </div><!-- row -->

</main>

{% endblock %}
