{% extends "layout.html" %} {% block page_title %} Apply for Employment and Support Allowance (ESA) {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}
<main id="content" role="main">
    {% include "../includes/phase_banner_beta.html" %}
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
            <li><a href="http://www.gov.uk">Home</a></li>
            <li><a href="https://www.gov.uk/browse/benefits">Benefits</a></li>
            <li><a href="https://www.gov.uk/browse/benefits/disability">Carers and disability benefits</a></li>
        </ol>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="pub-c-title
  
  pub-c-title--bottom-margin">
                <h1 class="heading-xlarge ">
    Employment and Support Allowance (ESA)
  </h1>
            </div>
            <aside class="part-navigation-container" role="complementary">
                <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
                    <ol class="column-half list list-number">
                        <li>
                            <a href="/employment-support-allowance">Overview</a>
                        </li>
                        <li>
                            <a href="/employment-support-allowance/what-youll-get">What you'll get</a>
                        </li>
                        <li>
                            <a href="/employment-support-allowance/types-of-esa">Types of ESA</a>
                        </li>
                    </ol>
                    <ol class="list list-number column-half" start="4">
                        <li>
                            <a href="/employment-support-allowance/eligibility">Eligibility</a>
                        </li>
                        <li>
                            How to claim
                        </li>
                        <li>
                            <a href="/employment-support-allowance/moving-incapacity-benefits-esa">Moving from incapacity benefits to ESA</a>
                        </li>
                    </ol>
                </nav>
            </aside>
            <h1 class="heading-large">5. How to claim</h1>

            <div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
                <p>The quickest way to apply for Employment and Support Allowance (ESA) is by phone.</p>
                <p>The number you call depends on which <a href="/employment-support-allowance/types-of-esa">type of ESA</a> you’re applying for.</p>
                <div role="note" aria-label="Information" class="application-notice info-notice">
                    <p>You may need to claim Universal Credit instead. <a href="/employment-support-allowance/eligibility">Check you’re eligible</a> before you apply.</p>
                </div>
                <h2 class="heading-medium">Contributions-based and income-related ESA</h2>
                <p>Call the Contact centre to apply for contributions-based and income-related ESA.</p>
                <div class="contact">
                    <p><strong>Contact centre</strong>
                        <br> Telephone: 0800 055 6688
                        <br> Textphone: 0800 023 4888
                        <br> Welsh language telephone: 0800 012 1888
                        <br> Monday to Friday, 8am to 6pm
                        <br>
                        <a href="/call-charges">Find out about call charges</a></p>
                </div>
                <p>You can also fill in and print out the <a href="/government/publications/employment-and-support-allowance-claim-form">ESA1 form</a> and send or take it to your local <a href="/contact-jobcentre-plus">Jobcentre Plus office</a>.</p>
                <h3 class="heading-small">Alternative formats</h3>
                <p>Call the contact centre to ask for alternative or accessible formats, such as braille, large print or audio CD.</p>
                <div role="note" aria-label="Information" class="application-notice info-notice">
                    <p>There’s a different way to <a rel="external" href="http://www.nidirect.gov.uk/employment-and-support-allowance-people-with-disabilities">apply in Northern Ireland</a>.</p>
                </div>
                <h2 class="heading-medium">‘New style’ ESA</h2>
                <p>Apply for new style ESA over the phone.</p>
                <div class="contact">
                    <p><strong>If you’re in a ‘live service area’ for Universal Credit</strong>
                        <br> Telephone: 0345 600 0723
                        <br> Textphone: 0345 600 0743
                        <br> Monday to Friday, 8am to 6pm
                        <br>
                        <a href="/call-charges">Find out about call charges</a></p>
                </div>
                <div class="contact">
                    <p><strong>If you’re in a ‘full service area’</strong>
                        <br> Telephone: 0345 600 4272
                        <br> Textphone: 0345 600 0743
                        <br> Monday to Friday, 8am to 6pm
                        <br>
                        <a href="/call-charges">Find out about call charges</a></p>
                </div>
                <p>You’re in a full service area if it has an asterisk (*) on the <a href="/guidance/jobcentres-where-you-can-claim-universal-credit#jobcentre-areas-a--m-for-couples-and-families">list of Jobcentre areas</a>. If your area doesn’t have an asterisk, it’s a live service area.</p>
                <p>If your area isn’t on the list:</p>
                <ul>
                  <ul class="list list-bullet">
                    <li>call the live service number, if you’re single</li>
                    <li>claim a different type of ESA, if you live with your partner or family - you can’t claim new style ESA unless your area’s on the list</li>
                </ul>
                <h3 class="heading-small">Alternative formats</h3>
                <p>Call the same number to ask for alternative or accessible formats, such as braille, large print or audio CD.</p>
                <h2 class="heading-medium">What you need to claim</h2>
                <p>You’ll need the following when you make a claim:</p>
                <ul>
                  <ul class="list list-bullet">
                    <li>National Insurance number</li>
                    <li>fit note (you may also know this as a sick note, medical certificate or med3)</li>
                    <li>GP’s address and phone number</li>
                    <li>home and mobile telephone numbers</li>
                    <li>mortgage or landlord details</li>
                    <li>council tax bill</li>
                    <li>employer’s address and telephone number and dates of employment or last day worked</li>
                    <li>bank account details</li>
                    <li>details of any other money you are getting, such as benefits or sick pay</li>
                </ul>

                <h2 class="heading-medium">Send your fit note</h2>
                <p>After you’ve made a claim for ESA you’ll need to send your fit note to the Department for Work and Pensions.</p>

                <p><a href="/send-you-fit-note-beta-2/index">Send your fit note online</a> using a phone, tablet, desktop computer or laptop, or send it by post to:</p>

                Freepost DWP ESA 38 

                <h2 class="heading-medium">Appeal a decision</h2>

                <p>You can <a href="/social-security-child-support-tribunal">appeal to the Social Security and Child Support Tribunal</a> if you disagree with a decision. You must usually <a href="/social-security-child-support-tribunal/before-you-appeal">ask for ‘mandatory reconsideration’</a> before you appeal.</p>
            </div>
            <footer>
                <nav class="pagination" role="navigation" aria-label="Pagination">
                    <ul class="group">
                        <li class="previous">
                            <a href="gov-assessed" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span> <span class="pagination-part-title"> How you're assessed</span>
              </a>
                        </li>
                        <li class="next">
                            <a href="gov-circs" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span> <span class="pagination-part-title"> Changes you must tell us about</span>
              </a>
                        </li>
                    </ul>
                </nav>
            </footer>
            <div class="app-c-print-link">
                <a href="/employment-support-allowance/print" class="app-c-print-link__link" rel="alternate">
    Print entire guide
  </a>
            </div>
        </div>
        <div class="column-third">
            <aside class="govuk-related-items" data-module="track-click" role="complementary">
                <h2 data-track-count="sidebarRelatedItemSection">
        Benefits entitlement
      </h2>
                <nav role="navigation">
                    <ul>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/benefits-calculators" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Benefits calculators&quot;}" href="/benefits-calculators">Benefits calculators</a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/jobseekers-allowance" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Jobseeker's Allowance (JSA)&quot;}" href="/jobseekers-allowance">Jobseeker's Allowance (JSA)</a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/universal-credit" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Universal Credit&quot;}" href="/universal-credit">Universal Credit</a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/benefit-fraud" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Benefit fraud&quot;}" href="/benefit-fraud">Benefit fraud</a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="1.5" data-track-label="/how-to-have-your-benefits-paid" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;How and when your benefits are paid&quot;}" href="/how-to-have-your-benefits-paid">How and when your benefits are paid</a>
                        </li>
                        <li class="related-items-more">
                            <a data-track-category="relatedLinkClicked" data-track-action="1.6" data-track-label="/browse/benefits/entitlement" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/benefits/entitlement">
                More
                  <span class="visuallyhidden">
                    in
                    Benefits entitlement
                  </span>
</a> </li>
                    </ul>
                </nav>
                <h2 data-track-count="sidebarRelatedItemSection">
        Benefits
      </h2>
                <nav role="navigation">
                    <ul>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="2.1" data-track-label="/financial-help-disabled" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Financial help if you're disabled&quot;}" href="/financial-help-disabled">Financial help if you're disabled</a>
                        </li>
                        <li class="related-items-more">
                            <a data-track-category="relatedLinkClicked" data-track-action="2.2" data-track-label="/browse/benefits" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/benefits">
                More
                  <span class="visuallyhidden">
                    in
                    Benefits
                  </span>
</a> </li>
                    </ul>
                </nav>
                <h2 data-track-count="sidebarRelatedItemSection">
        Elsewhere on GOV.UK
      </h2>
                <nav role="navigation">
                    <ul>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="3.1" data-track-label="/statutory-sick-pay" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Statutory Sick Pay (SSP) &quot;}" href="/statutory-sick-pay">Statutory Sick Pay (SSP) </a>
                        </li>
                        <li>
                            <a data-track-category="relatedLinkClicked" data-track-action="3.2" data-track-label="/contact-jobcentre-plus" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Contact Jobcentre Plus&quot;}" href="/contact-jobcentre-plus">Contact Jobcentre Plus</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
{% endblock %}