{% extends path+"/../layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block fullcol %}
<div class="blue-border-bottom"></div>

<main id="content" role="main">
{# {% include "../includes/error-summary.html" %} #}

<div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Check your fit note image</h1>
      <img class="uploaded" src="/public/images/uploaded/example-scan.jpg" />

      <p>
        Check this is the right fit note you want to send and that you're happy with the image. 
      </p>

      <p>
        <a href="/send-your-fit-note-beta-5/upload/">Upload another image</a>
      </p>
      
      <form method="post" class="form" name="yourDetails" id="yourDetailsForm">
        <button class="button" type="submit">Send this image</button>
      </form>
    </div>
</div>

</main>

{% endblock %}
